@using System.ServiceModel.Channels
@model Couchbase.BeerSample.Web.Models.Beer

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}


<div class="jumbotron">
    @using(Html.BeginForm("Edit", "Beer", FormMethod.Post, new { Class = "navbar-form" }))
    {
        <p class="lead">
        @if (ViewBag.Success)
        {
            <div class="form-group">
                <h2>@Model.Name by @Model.BreweryId</h2>
                @Html.HiddenFor(x => x.Name)
                @Html.HiddenFor(x => x.BreweryId)
                <div class="row">
                    <div class="col-md-1 text-info">Style:</div>
                    <div class="col-md-5">@Html.TextBoxFor(x => x.Style, new {Class = "form-control"}) </div>
                    <div class="col-md-1 text-info">Srm:</div>
                    <div class="col-md-5">@Html.TextBoxFor(x => x.Srm, new {Class = "form-control"})</div>
                </div>
                <div class="row">
                    <div class="col-md-1 text-info">Category:</div>
                    <div class="col-md-5">@Html.TextBoxFor(x => x.Category, new {Class = "form-control"})</div>
                    <div class="col-md-1 text-info">Upc:</div>
                    <div class="col-md-5">@Html.TextBoxFor(x => x.Upc, new {Class = "form-control"})</div>
                </div>
                <div class="row">
                    <div class="col-md-1 text-info">Type:</div>
                    <div class="col-md-5"> @Html.TextBoxFor(x => x.Type, new {Class = "form-control"})</div>
                    <div class="col-md-1 text-info">Ibu:</div>
                    <div class="col-md-5">@Html.TextBoxFor(x => x.Ibu, new {Class = "form-control"})</div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-info">&nbsp;</div>
                    <div class="col-md-12 text-info"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-info">Description</div>
                    <div class="col-md-12">@Html.TextAreaFor(x => x.Description, new {Class = "form-control", cols = "100", rows = "5"})</div>
                </div>
                <div class="row">
                    <div class="col-md-12"><button type="submit" class="btn btn-default">Submit</button></div>
                </div>
            </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">Error: @ViewBag.Message</div>
            }
        </p>
    }
</div>
